@{
    ViewData["Title"] = "Home Page";
}

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> @ViewBag.ErrorMessage
        </div>
    }        

    <form id="jsonForm" method="post" action="@Url.Action("ConvertJsonToPdf", "Home")" class="form-inline" enctype="multipart/form-data">
        <!-- settings convert json to pdf-->
        <div class="collapse mb-3" id="collapseSettings">
            <div class="card card-body">
                <div class="form-group mb-2">
                    <label for="margin">Font</label>
                    <div class="row">
                        <div class="col-8">
                            <label for="fontName"><small>Name</small></label>
                            <select name="fontName" id="fontName" class="form-control">
                                <option value="Arial">Arial</option>
                                <option value="Calibri">Calibri</option>
                                <option value="Times-Roman">Times New Roman</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="fontSize"><small>Size</small></label>
                            <input type="text" name="fontSize" id="fontSize" value="12" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-3">
                            <label for="pageSize">Page Size</label>
                            <select name="pageSize" id="pageSize" class="form-control">
                                <option value="A4">A4</option>
                                <option value="Letter">Letter</option>
                            </select>
                        </div>
                        <div class="col-9">
                            <label>Page Orientation</label><br />
                            <input type="radio" name="pageOrientation" value="Portrait" checked> Portrait
                            <input type="radio" name="pageOrientation" value="Landscape"> Landscape
                        </div>
                    </div>
                </div>

                <div class="form-group mb-2">
                    <label for="margin">Margin <sup>(cm)</sup></label>
                    <div class="row">
                        <div class="col">
                            <label for="leftMargin"><small>Left</small></label>
                            <input type="number" name="leftMargin" id="leftMargin" step="any" value="1" class="form-control">
                        </div>
                        <div class="col">
                            <label for="rightMargin"><small>Right</small></label>
                            <input type="number" name="rightMargin" id="rightMargin" step="any" value="1" class="form-control">
                        </div>
                        <div class="col">
                            <label for="topMargin"><small>Top</small></label>
                            <input type="number" name="topMargin" id="topMargin" step="any" value="2" class="form-control">
                        </div>
                        <div class="col">
                            <label for="bottomMargin"><small>Bottom</small></label>
                            <input type="number" name="bottomMargin" id="bottomMargin" step="any" value="1.5" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group mb-2">
                    <label for="headerText">Header Text</label>
                    <input type="text" name="headerText" id="headerText" class="form-control">
                </div>

                <div class="form-group mb-2">
                    <label for="pdfPassword">Password PDF</label>
                    <input type="text" name="pdfPassword" id="pdfPassword" class="form-control">
                </div>

                <div class="form-group mb-2">
                    <label for="logoImage">Upload Logo</label>
                    <input type="file" name="logoImage" id="logoImage" class="form-control">
                </div>
            </div>
        </div>
        <!-- end settings section-->

        <div class="row">        
            <div class="col-6 mr-1">
                <div class="card">
                    <div class="json-container">
                        <div id="lineNumbers"></div>
                        <textarea name="jsonInput" id="jsonInput" rows="20" class="form-control" aria-label="jsonInput"></textarea>
                    </div>
                </div>            
            </div>
            <div class="col-6 ml-1">
                <div class="card">
                    @if (!string.IsNullOrEmpty(ViewBag.PdfBase64))
                    {
                        <iframe id="pdfPreview" src='data:application/pdf;base64,@ViewBag.PdfBase64' frameborder="0" width="100%" height="500"></iframe>
                    }
                    else
                    {
                        <p class="text-muted">No preview available</p>
                    }
                </div>                
             </div>
        </div>
    </form>

