html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* css for json input text area*/
.json-container {
    display: flex;    
}

#lineNumbers {
    color: #aeb6c3;
    padding: 4px 8px;
    background-color: #fcfcfd;
    border-right: 1px solid #ccc;
    overflow-y: hidden;
}

#jsonInput {
    flex: 1;
    padding-left: 8px;
    resize: none;
    overflow-y: scroll;
}